<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Recipe Book</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

  <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
  <nav class="navbar bg-body-tertiary bg-dark-subtle">
    <div class="container-fluid">
      <h2>Hi, {{user.first_name}}</h2>
      <h1>Recipe Book</h1>
      <div>
        <a class="btn btn-outline-danger" href="/logout">
          Logout
        </a>
      </div>
    </div>
  </nav>
  <ul class="nav nav-underline justify-content-around">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="/">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Shopping</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="#">Cookbooks</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="#">Planning</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled">Settings</a>
    </li>
  </ul>


  <div class="container-fluid">
    <div class="row view">

      <div class="col-2">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3 mt-2">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">All</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="#">Favorites</a>
          </li>
          <li class="nav-item">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Courses
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>

            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Categories
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
            </ul>
          </li>
        </ul>
      </div>


      <div class="col-10 p-4 pt-0 mt-3 view-height overflow-auto">
        <div class="d-flex  justify-content-end">
          <a class="btn btn-primary mb-2" href="/recipe/new">
            <i class="fa-solid fa-plus"></i> Add New
          </a>
        </div>



        <div class="card recipe-card mb-3 overflow-auto">
          <div class=" row g-0">
            <div class="col-2 p-3">
              <img src="../static/img/fork_and_knife.png" class="img-fluid rounded-start img" alt="...">
            </div>
            <div class="col-10 ">
              <div class="card-body">
                <h5 class="card-title">Recipe title</h5>
                <h6 class="card-subtitle">Recipe Categoy</h6>
                <p class="card-text">Description This is a wider card with supporting text below as a natural lead-in
                  to
                  additional content.
                  This content is a little bit longer.</p>
                <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
              </div>
            </div>
          </div>
        </div>
        <div class="card recipe-card mb-3 overflow-auto">
          <div class=" row g-0">
            <div class="col-2 p-3">
              <img src="../static/img/fork_and_knife.png" class="img-fluid rounded-start img" alt="...">
            </div>
            <div class="col-10 ">
              <div class="card-body">
                <h5 class="card-title">Recipe title</h5>
                <h6 class="card-subtitle">Recipe Categoy</h6>
                <p class="card-text">Description This is a wider card with supporting text below as a natural lead-in
                  to
                  additional content.
                  This content is a little bit longer.</p>
                <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
              </div>
            </div>
          </div>
        </div>
        <div class="card recipe-card mb-3 overflow-auto">
          <div class=" row g-0">
            <div class="col-2 p-3">
              <img src="../static/img/fork_and_knife.png" class="img-fluid rounded-start img" alt="...">
            </div>
            <div class="col-10 ">
              <div class="card-body">
                <h5 class="card-title">Recipe title</h5>
                <h6 class="card-subtitle">Recipe Categoy</h6>
                <p class="card-text">Description This is a wider card with supporting text below as a natural lead-in
                  to
                  additional content.
                  This content is a little bit longer.</p>
                <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
              </div>
            </div>
          </div>
        </div>
        <div class="card recipe-card mb-3 overflow-auto">
          <div class=" row g-0">
            <div class="col-2 p-3">
              <img src="../static/img/fork_and_knife.png" class="img-fluid rounded-start img" alt="...">
            </div>
            <div class="col-10 ">
              <div class="card-body">
                <h5 class="card-title">Recipe title</h5>
                <h6 class="card-subtitle">Recipe Categoy</h6>
                <p class="card-text">Description This is a wider card with supporting text below as a natural lead-in
                  to
                  additional content.
                  This content is a little bit longer.</p>
                <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
              </div>
            </div>
          </div>
        </div>






      </div>





    </div>

  </div>
  <script src="https://kit.fontawesome.com/e71eff5305.js" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
    crossorigin="anonymous"></script>
</body>
</html>
