<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Recipe Book</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
</head>
<body>



  <nav class="navbar bg-body-tertiary bg-dark-subtle">
    <div class="container-fluid">
      <h2>Hi, {{user.first_name}}</h2>
      <h1>Recipe Book</h1>
      <div>
        <a class="btn btn-outline-danger" href="/logout">
          Logout
        </a>
      </div>
    </div>
  </nav>
  <ul class="nav nav-underline justify-content-around">
    <li class="nav-item">
      <a class="nav-link" aria-current="page" href="/">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Shopping</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="#">Cookbooks</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="#">Planning</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/ingredients">Ingredients</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled">Settings</a>
    </li>
  </ul>


  <div class="container-fluid">
    <div class="row view">

      <div class="col-2 bg-light ">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3 mt-2">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">All</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="#">Favorites</a>
          </li>
          <li class="nav-item">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Courses
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>

            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Categories
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
            </ul>
          </li>
        </ul>
      </div>


      <div class="col-10 px-4 mt-2 view-height overflow-auto">



        <form action="/recipe/create" method="post">

          <div class="row">
            <div class="col-6">
              <div class="mb-2">
                <label for="title" class="form-label">Title:</label>
                <input type="text" value="{{recipe.title}}" name="title" class="form-control">
                {% for message in get_flashed_messages(category_filter=['err_title']) %}
                <p class="text-danger">
                  <small>
                    {{message}}
                  </small>
                </p>
                {% endfor %}
              </div>
              <div class="mb-2">
                <label for="description" class="form-label">Description:</label>
                <textarea class="form-control" name="description" rows="3">{{recipe.description}}</textarea>
                {% for message in get_flashed_messages(category_filter=['err_description']) %}
                <p class="text-danger">
                  <small>
                    {{message}}
                  </small>
                </p>
                {% endfor %}
              </div>
              <div class="mb-2">
                <label for="instructions" class="form-label">Instructions:</label>
                <textarea class="form-control" name="instructions" rows="5">{{recipe.instructions}}</textarea>
                {% for message in get_flashed_messages(category_filter=['err_instructions']) %}
                <p class="text-danger">
                  <small>
                    {{message}}
                  </small>
                </p>
                {% endfor %}
              </div>
              <div class="row">

                <div class="col-6">
                  <div class="mb-2">
                    <label for="category" class="form-label">Category:</label>
                    <select name="category" class="form-select" aria-label="Default select example">
                      <option selected disabled hidden>{{recipe.category}}</option>
                      <option value="Vegetarian">Vegetarian</option>
                      <option value="Vegan">Vegan</option>
                      <option value="Gluten-Free">Gluten-Free</option>
                      <option value="BBQ/Grill">BBQ/Grill</option>
                      <option value="Comfort">Comfort</option>
                      <option value="Healthy">Healthy</option>
                      <option value="Family">Family</option>

                    </select>
                  </div>
                  <div class="mb-2">
                    <label for="course" class="form-label">Course:</label>
                    <select name="course" class="form-select" aria-label="Default select example">
                      <option selected disabled hidden>{{recipe.course}}</option>
                      <option value="Appetizer">Appetizer</option>
                      <option value="Bread">Bread</option>
                      <option value="Salad">Salad</option>
                      <option value="Snack">Snack</option>
                      <option value="Soup">Soup</option>
                      <option value="Main">Main</option>
                      <option value="Dessert">Dessert</option>
                    </select>
                  </div>
                  <label for="servings" class="form-label">Servings:</label>
                  <div class="input-group mb-2">
                    <input type="number" value="{{recipe.servings}}" name="servings" class="form-control">
                    <span class="input-group-text" id="basic-addon">portions</span>
                  </div>



                </div>

                <div class="col-6">
                  <div class="mb-2">
                    <label for="meal_of_day" class="form-label">Meal of the day:</label>
                    <select name="meal_of_day" class="form-select" aria-label="Default select example">
                      <option selected disabled hidden>{{recipe.meal_of_day}}</option>
                      <option value="Breakfast">Breakfast</option>
                      <option value="Lunch">Lunch</option>
                      <option value="Dinner">Dinner</option>
                    </select>
                  </div>
                  <label for="cook_time" class="form-label">Cook time:</label>
                  <div class="input-group mb-2">
                    <input type="number" name="cook_time" class="form-control">
                    <span class="input-group-text" id="basic-addon">minutes</span>
                  </div>
                </div>
                <div class="col-12">

                  <label for="formFile" class="form-label">Upload photo:</label>
                  <div class="input-group mb-2">
                    <input name="image" value="{{recipe.image}}" class="form-control" type="file" id="formFile">
                    <button type="button" class="btn btn-outline-primary">Upload</button>
                  </div>

                  <div class="form-check mb-2">
                    <input name="is_favorite" class="form-check-input" type="checkbox" value="1" id="flexCheckDefault">
                    <label class="form-check-label" value="{{recipe.is_favorite}}" for="flexCheckDefault">
                      Favorite
                    </label>
                  </div>
                </div>
                {% if 'recipe_id' not in session %}
                <div>
                  <button class="btn btn-primary float-end">Submit Recipe</button>
                </div>
                {%endif%}
              </div>
        </form>


      </div>

      <div class="col-6">
        <div class="row">
          <div class="col-6">
            {% if session['recipe_id'] %}
            <form action="/add_ingredient" method="post">
              <label>Required Ingredients:</label>

              <div id="ingredientsList">
                {% if recipe.ingredients %}
                {% for ingredient in recipe.ingredients %}
                <p>{{ingredient.name}} - {{ingredient.quantity}} {{ingredient.unit}}</p>
                {%endfor%}
                {%endif%}
              </div>

          </div>
          <div class="col-6">

            <label for="id" class="form-label">Ingredient:</label>
            <select name="id" id="ingredient" class="form-select mb-2" aria-label="Default select example">
              <option selected disabled hidden>Select</option>
              {% for ingredient in ingredients %}
              <option value="{{ ingredient.id }}" ingredientId="{{ingredient.id}}">{{ ingredient.name }}
              </option>
              {% endfor %}
            </select>
            <div class="row">
              <div class="col-8">
                <label for="quantity" class="form-label">Quantity:</label>
                <input type="number" id="quantity" name="quantity" class="form-control">
              </div>
              <div class="col-4">
                <label for="unit" class="form-label">Unit:</label>
                <select name="unit" id="unit" class="form-select" aria-label="Default select example">
                  <option selected disabled hidden></option>
                  <option value="cup">cup</option>
                  <option value="ml">ml</option>
                  <option value="g">g</option>
                </select>
              </div>
            </div>
            <div>

              <button class="btn btn-primary float-end mt-2" id="ingredients-btn">Add Ingredient</button>
            </div>
            </form>
            {% endif %}

          </div>

        </div>
      </div>
      <div class="text-center mt-2">
        {% if session['recipe_id'] %}
        <a href="/dashboard" class="btn btn-success btn-lg"> SAVE ALL</a>
        {%endif%}
      </div>



    </div>







  </div>





  </div>

  </div>

  <script src="https://kit.fontawesome.com/e71eff5305.js" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
    crossorigin="anonymous"></script>
</body>
</html>
