.ml-1{
  margin-left: 4px;
}
.ml-2{
    margin-left: 8px;
}
.ml-3{
    margin-left: 12px;
}
.ml-4{
    margin-left: 16px;
}
.mr-1 {
  margin-right: 4px;
}
.mr-2 {
  margin-right: 8px;
}
.mr-3 {
  margin-right: 12px;
}
.mr-4 {
  margin-right: 16px;
}

.nav-link{
  font-size: 1.2rem;
  color: rgb(31, 31, 31);
}
.nav-link:hover{
  color: rgb(0, 0, 0);
}

.view{
  max-height: calc(100vh - 72px - 46px );
}

.view-height{
  max-height: calc(100vh - 72px - 46px - 32px);
}

.recipe-card{
  height: 184px;
}
.img{
  height: 150px;
}
